<button id="fullscreen-button">
  <i class="maximize icon"></i>
</button>
<script>
  document.querySelector('#fullscreen-button')
  .addEventListener('click', function(){
    try {
      SetFullscreen(1);
    } catch(err) {
      console.log('hola');
    }
  });
</script>
