<button id="fullscreen-button">
  <i class="maximize icon"></i>
</button>
<script>
  document.querySelector('#fullscreen-button')
  .addEventListener('click', function(){
    SetFullscreen(1);
  });
</script>
