<!-- This button can be used in both desktop and VR. -->
<button id="help-button">
  <i class="help icon"></i>
</button>
<script>
  document.querySelector('#help-button')
  .addEventListener('click', function() {
    window.togglePanel('help');
  });
</script>

