<button id="plus-button">
  <i class="plus icon"></i>
</button>
<script>

  document.querySelector('#plus-button')
  .addEventListener('click', function(e){
    window.togglePanel('plus');
  });

  </script>
