<button id="share-button">
  <i class="share icon"></i>
</button>
<script>
  document.querySelector('#share-button')
  .addEventListener('click', function() {
    window.togglePanel('share');
  });
</script>
