<!--
This page provides an interface for collecting a handful of data keys together
and sharing them as a URL.
-->
<% include common-template %>

<body class="template">

  <% include unity-webgl-template %>

  <!-- Flux Data Selector UI injection target and components -->
  <div class="ui raised segment display-on-load">
    <div id="flux-data-selector"></div>
  </div>
  <script type="text/javascript" src="flux-data-selector/flux-data-selector-ui.js"></script>
  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <link rel="stylesheet" type="text/css" href="flux-data-selector/semantic/semantic.min.css">
  <script type="text/javascript" src="flux-data-selector/semantic/semantic.min.js"></script>
  <script>
    (function(context) {
      // Activates the Flux Data Selector UI.
      FluxDataSelectorUI(ds, 'flux-data-selector');

      if (window.location.search === "") {
        (function() {
          var selectYourProjectMessage = document.createElement('div');
          selectYourProjectMessage.textContent =
            "Select a flux project and data key to visualize it in 3d!";
          selectYourProjectMessage.classList.add("select-project-message");
          var arrowPointingDown = document.createElement('div');
          arrowPointingDown.classList.add('arrow-pointing-down');
          arrowPointingDown.textContent = "⬇";
          selectYourProjectMessage.appendChild(arrowPointingDown);
          var dataselector = document.querySelector('#flux-data-selector');
          dataselector.appendChild(selectYourProjectMessage);

          document.body.addEventListener('click', function() {
            selectYourProjectMessage.style.opacity = 0;
          });
        })();
      }
    })(window);
  </script>

  <!-- These are loaded after the UI to overwrite its onValue callback -->
  <% include callbacks %>
  <% include example-data %>

</body>

