<!--
This page provides a simple 'read-only' interface for viewing geometry.
Data key parameters will be encoded in the url.
-->
<% include common-template %>
<body class="template">
  <% include unity-webgl-template %>
  <% include callbacks %>
  <% include example-data %>
  <p>Simple viewer</p>
</body>

