<!--
This page provides a simple 'read-only' interface for viewing geometry.
Data key parameters will be encoded in the url.
-->
<% include common-template %>
<body class="template">
  <% include unity-webgl-template %>
  <% include callbacks %>
  <% include example-data %>
  <p>Simple viewer</p>
  <script>
    document.querySelector('.sharable-url').style.display = 'none';
    document.querySelector('.geometry-size').style.display = 'none';
    if (window.location.search === "") {
      document.querySelector('h1').textContent =
        "Go to https://flux-unity.herokuapp.com to create a sharable link to geometry using Flux!";
    }
  </script>
</body>

