<button class="ui button show-toolbar display-on-load show-left">
  <i class="ellipsis horizontal icon"></i>
</button>
<button class="ui button show-toolbar display-on-load show-right">
  <i class="ellipsis horizontal icon"></i>
</button>

<script>
  var ttc = (function toggleToolbarClosure () {
    var toolbarOn = true;
    function toggleToolbar() {
      document.querySelector('.menu-items').style.display =
        toolbarOn ? 'none' : 'block';
      toolbarOn = !toolbarOn;
    };
    return toggleToolbar;
  })();

  var toolbars = document.querySelectorAll('.show-toolbar');
  Array.prototype.forEach.call(toolbars, function(item) {
    item.addEventListener('click', ttc);
  });
</script>
