button {
  border: none;
}

.display-on-load {
  opacity: 0;
  transition: opacity 1s;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex.space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flex.vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flexbox-section {
  width: 50%;
  padding: .5em;
}

/* Everything visible has to be absolute and have a z index of at least 10 */
h1,
#error,
.loading-message,
.menu-items,
.panels,
#close-error-panel,
.close-panels-button,
.show-toolbar {
  position: absolute;
  z-index: 20;
}

/* Headers and error messages */
h1,
#error,
.loading-message {
  max-width: 60%;
  text-align: center;
}
h1 {
  top: 2%;
  opacity: 1;
  background-color: white;
  transition: opacity 3s;
}
#error,
.loading-message {
  top: 10%;
  z-index: 21;
  position: fixed;
}
p.error-text.ui {
  padding: 10px 40px;
}

/* Menu */
.menu-items {
  border-radius: 6px;
  top: 85%;
  padding: 0;
  z-index: 22;
  color: white;
  font-size: 2em;
  overflow: hidden;
}
.menu-items button {
  list-style-type: none;
  padding-top: .5em;
  border: 0;
  height: 3em;
  width: 3em;
  float: left;
  background-color: rgba(100, 100, 100, .5);
  transition: background-color .2s;
  cursor: pointer;
  color: white;
}
.menu-items button:hover {
  background-color: rgba(200, 200, 200, .5);
}

/* Hidden panels */
.hidden-panel.ui.raised.segment {
  top: 9999px;
  background-color: white;
  padding: 2em;
  border-radius: 5px;
  bottom: auto;
  z-index: 22;
  position: fixed;
}
#close-error-panel,
.close-panels-button {
  background-color: rgba(255, 255, 255, 0);
  top: 1em;
  right: 1em;
}
.frisbee-button {
  padding: 0;
  color: #008;
  background-color: white;
  text-decoration: underline;
  text-align: left;
}
#loaded-keys-list li {
  list-style-type: none;
  margin: 4px;
  padding: 4px;
  border-radius:3px;
  cursor: pointer;
}
#loaded-keys-list li:hover {
  background-color: #ccc;
}

/* Show toolbar button for vr mode */
.ui.button.show-toolbar {
  position: absolute;
  bottom: 1%;
  transform: translateX(60%);
  padding: .7em .3em .7em 1em;
}
.show-left { right: 75%; }
.show-right { right: 25%; }


/* Override Unity css */
div.template-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: initial;
  background-color: #4d4d4d;
}
#canvas {
  cursor: default;
  width: 100%;
  height: 100%;
  box-shadow: none;
  -moz-box-shadow: none;
}
.fullscreen {
  display: none;
}
.template-wrap canvas {
  margin: 0;
}
body {
  height: auto;
}

/* Override Semantic css */
.ui.raised.segment {
  position: absolute;
  bottom: 0;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}
.flux-data-selector {
  position: relative;
}
.ui.dropdown .menu .selected.item, .ui.dropdown.selected {
  font-weight: bold;
}