<div id="help-panel" class="hidden-panel ui raised segment">
  <h2>
    Help: Desktop viewer
  </h2>
  <button id="close-help-panel" class="close-panels-button">
    <i class="remove circle icon big"></i>
  </button>
  <p>
    Welcome to the Desktop application for the Flux-Unity Geometry Viewer!
  </p>
  <p>
    Controls:
    <ul>
      <li>Click (or touch) and drag to look around.</li>
      <li>Use the arrow keys to move.</li>
      <li>Press space to jump.</li>
      <li>You can keep pressing space to get as high as you want.</li>
      <li>
        <button class="frisbee-button"
                onclick="SendMessage('player', 'ToggleFrisbees');">
          Press here to turn on (or off) the ability to throw frisbees
          by clicking the left mouse button.
        </button>
      </li>
    </ul>
  </p>
  <p>
    When you first open this up, you will see an example building designed
    by one of our engineers for a school project. To share your own geometry,
    log in, open up the + menu, select a project, and click on your data keys
    to select them. You can then share them with the share button.
    <br/>
    Note: If your geometry doesn't look correct, select the same key again and
    the model should update to the correct state.
  </p>
  <p>
  </p>
  <p>
    When you click the share button, it gives you a choice between a
    link to the desktop interface and the VR interface, which is meant to be
    used with a VR device such as Google Cardboard.
  </p>
  <p>
    Thanks for checking out our app! Direct any questions to nickm@flux.io
  </p>
</div>
