<div id="list-panel" class="hidden-panel ui segment raised">
  <ul class="loaded-keys-list">  </ul>
  <button id="close-list-panel" class="close-panels-button">
    <i class="remove circle icon huge"></i>
  </button>
</div>
