<script src="https://cdn.jsdelivr.net/clipboard.js/1.5.10/clipboard.min.js"></script>
<div id="share-panel" class="hidden-panel ui raised segment">

  <h2>
    Share your Flux project
  </h2>

  <button id="close-share-panel" class="close-panels-button">
    <i class="remove circle icon big"></i>
  </button>

  <div class="ui action input fluid">
    <input id="url" type="text">
    <button id="desktop-copy" data-clipboard-target="#url"
            class="ui right blue labeled icon button">
      <i class="copy icon"></i>
      Copy desktop link
    </button>
    <button id="vr-copy" data-clipboard-target="#url"
            class="ui right red labeled icon button">
      Copy VR link
      <i class="copy icon"></i>
    </button>
  </div>

</div>
<script>

  document.querySelector('#close-share-panel')
  .addEventListener('click', closePanels);

  function copyLink (addVr) {

  };

  document.querySelector('#desktop-copy')
  .addEventListener('click', function() {
    copyLink(false);
  });

  document.querySelector('#vr-copy')
  .addEventListener('click', function() {
    copyLink(true);
  });

  var desktop = new Clipboard('#desktop-copy');
  var vr = new Clipboard('#vr-copy', {
    text: function() {
      var matches = document.querySelector('#url').value
                    .match(/(https?:\/\/[\w\d:]+)\/(.+)$/);
      return matches ? matches[1] + '/vr/' + matches[2]: window.location.origin;
    }
  });

</script>
